<mat-card class="card-item">
  <mat-card-content>
    <div class="Toolbar-2">
      <mat-toolbar color="primary">
        Cursos disponíveis
      </mat-toolbar>
    </div>
    <div *ngIf="courses$ | async as courses; else loading">
      <table mat-table [dataSource]="courses" class="mat-elevation-z8">
        <!-- name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Curso</th>
          <td mat-cell *matCellDef="let course">{{ course.name }}</td>
        </ng-container>

        <!-- category Column -->
        <ng-container matColumnDef="category">
          <th mat-header-cell *matHeaderCellDef>Categoria</th>
          <td mat-cell *matCellDef="let course">{{ course.category }}
            <mat-icon aria-hidden="false" aria-label="Categoria do curso" fontIcon="{{course.category | category }}"></mat-icon>
          </td>
        </ng-container>

        <ng-container matColumnDef="time">
          <th mat-header-cell *matHeaderCellDef>Conclusão</th>
          <td mat-cell *matCellDef="let course">{{ course.time }}</td>
        </ng-container>

        <!-- aqui é onde mostra os elementos que foram passados na variavel do couses component-->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>

    <ng-template #loading>
      <div class="loading-spinner">
        <mat-spinner></mat-spinner>
      </div>
    </ng-template>
  </mat-card-content>
</mat-card>
